<!-- Component Body -->
<div class="card card-publication">
  <form [formGroup]="feedPublicationForm">
    <div class="cardBefore" [@cardState]="cardBefore" [ngSwitch]="activeZone">
      <!-- Loading Bar -->
      <div class="w-100 loading-bar" *ngIf="(uploadPicture !== 0) && (uploadPicture !== 100)">
        <div class="container-bar-picture h-100" [style.width.%]="uploadPicture"></div>
      </div>
      <div class="w-100 loading-bar" *ngIf="(uploadVideo !== 0) && (uploadVideo !== 100)">
        <div class="container-bar-video h-100" [style.width.%]="uploadVideo"></div>
      </div>
      <!-- Open Publication Card -->
      <button class="btn btn-rotation p-0" type="button" (click)="collapseCard()"
      [ngSwitch]="openCollapse"
      [ngClass]="{'bg-danger': btnAdd === true, 'bg-primary': btnAdd === false }">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
        class="bi bi-plus text-white" *ngSwitchCase="'openForm'" viewBox="0 0 16 16">
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
        class="bi bi-dash text-white" *ngSwitchCase="'closeForm'" viewBox="0 0 16 16">
        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
      </svg>
    </button>
      <!-- Body Card (Default Step => Do a choice) -->
      <!-- Default Zone -->
      <div class="imageCover d-flex justify-content-center align-items-center flex-column" *ngSwitchCase="'defaultZone'"
        [style.backgroundImage]="background" [@coverState]="coverBefore">
        <img class="img-fluid w-100" *ngIf="noPicture" [src]="imgURL" />
        <input hidden id="upload_picture" #picture type="file" accept='image/* | video/*'
          (change)="preview(picture.files)" />
        <label for="upload_picture">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-image"
            viewBox="0 0 16 16" [@svgState]="svgBefore">
            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            <path
              d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
          </svg>
        </label>
        <div id="choice-color" class="row col-6 justify-content-between mt-3" *ngIf="imgUrlAdded">
          <span (click)="changebackground(choice1)" class="blockBox choice1"></span>
          <span (click)="changebackground(choice2)" class="blockBox choice2"></span>
          <span (click)="changebackground(choice3)" class="blockBox choice3"></span>
          <span (click)="changebackground(choice4)" class="blockBox choice4"></span>
          <span (click)="changebackground(choice5)" class="blockBox choice5"></span>
          <span (click)="changebackground(choice6)" class="blockBox choice6"></span>
        </div>
      </div>
      <!-- Video Zone -->
      <div class="videoCover d-flex justify-content-center align-items-center flex-column" *ngSwitchCase="'videozone'"
        [style.backgroundImage]="background" [@coverState]="coverBefore">
        <input hidden id="upload_picture" #picture type="file" accept='image/* | video/*'
          (change)="preview(picture.files)" />
        <label for="upload_picture">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-image"
            viewBox="0 0 16 16" [@svgState]="svgBefore">
            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            <path
              d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
          </svg>
        </label>
        <div *ngIf="postedposter">
          <button type="button" class="fa fa-check photo-valid"></button>
          <span *ngIf="editedposter">
            <h5 class="ms-2 mt-1">{{'FEED-PUBLICATION.Picture-received'|translate}}</h5>
          </span>
        </div>
        <video class="w-100 h-100 bg-dark" preload="auto" poster={{postervideo}} controlsList="nodownload">
          <source [src]="videoURL" [type]="videoType">
        </video>
      </div>
      <!-- Profile & Other Button -->
      <div class="profile d-flex justify-content-between align-items-center" [@profileState]="profileBefore"
        [ngClass]="{'h-100': cardBefore === 'staticCard', 'h-0': cardBefore === 'transitionCard' }"
        *ngIf="(myprofile | async); let mp">
        <div class="profil d-flex align-items-center ms-4">
          <div class="avatar">
            <img class="w-100 h-100 img-responsive" [routerLink]="['/profile/' + (myprofile | async)._id]"
              [src]="(myprofile | async).pictureprofile">
          </div>
          <div class="nameDate ms-2">
            <p class="mb-0">{{mp._meta.pseudo}}</p>
            <p class="mb-0">{{'CORE.Now'|translate}}</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="otherButton me-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info" (click)="slideToInfo()" [@infoState]="infoBefore" viewBox="0 0 16 16">
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hash" (click)="slideToHashtag()" [@hashtagState]="hashtagBefore"
              viewBox="0 0 16 16">
              <path
                d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z" />
            </svg>
          </div>
        </div>
      </div>
      <!-- Footer Card -->
      <!-- Comment & Submit Button -->
      <div class="commentSubmit col-9 mx-auto mt-5">
        <div class="inputTextArea d-flex" [@textAreaState]="textAreaBefore">
          <textarea 
          class="form-control px-0 col-12" 
          name="info" 
          id="info" 
          cols="30" 
          rows="3" 
          type="text"
          placeholder="Your comment..." 
          [(ngModel)]="comment"
          [ngModelOptions]="{standalone: true}"
          ></textarea>

          <div class="hashtagContainer col-12">

            <textarea 
            class="form-control px-0 col-12 hashtagList" 
            name="hashtag" 
            id="hashtag" 
            cols="30" 
            rows="1" 
            type="text"
            maxlength="12"
            #hashtagContent
            (keydown.enter)="addHashtag(); false"
            (keypress)="omit_special_char($event)"
            placeholder="Your hashtags..."
            ></textarea>

            <div class="row row-cols-3">
              <div class="itemHashtag" *ngFor="let item of hashtagList">
                <span class="pr-0">#{{item}}</span>
                <i (click)="removeHashtag(item)" class="fa fa-times ml-2 mr-3"></i>
              </div>
            </div>
          </div>

        </div>
        <button 
        class="btn w-100 grayDis"  
        *ngIf="!comment && !noPicture" 
        [@submitState]="submitBefore" 
        [disabled]="!comment" 
        type="button" 
        (click)="createFeedPublication()">Confirm</button>
        <button 
        class="btn w-100 blueKing" 
        *ngIf="comment || noPicture" 
        [@submitState]="submitBefore" 
        [disabled]="!comment && !noPicture" 
        type="button" 
        (click)="createFeedPublication()">Confirm</button>
      </div>
    </div>
  </form>
</div>