<!-- Component Body -->
  <!-- Setting card -->
  <div class="card row mx-0">
    <div class="card-body pb-0 row">
      <div class="col mx-3 mt-2 p-0">
        <h5 class="card-title mb-5">Notification</h5>
        <div class="row justify-content-between">
            <div class="card-body p-0">
                <div class="container">
                  <div class="row my-3">
                    <div class="col-1">
                      <mat-slide-toggle checked></mat-slide-toggle>
                    </div>
                    <div class="col-11">Messages (description coming soon)</div>
                  </div>
                  <div class="row my-3">
                    <div class="col-1">
                      <mat-slide-toggle checked></mat-slide-toggle>
                    </div>
                    <div class="col-11">Tag (description coming soon)</div>
                  </div>
                  <div class="row my-3">
                    <div class="col-1">
                      <mat-slide-toggle checked></mat-slide-toggle>
                    </div>
                    <div class="col-11">New invite (description coming soon)</div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
