<div class="card mt-4" *ngIf="(profile$|async); let p">
    <form [formGroup]="registerForm">
        <div class="card-header">
            <div class="d-flex align-items-baseline">
            <h5 class="title ps-3">{{'SETTING.Download-data.Download-data-title' | translate}}</h5>
        </div>
        <!--Update and Cancel-->
          <div class="btn-footer float-right">
            <button class="mx-2 btn btn-Download px-2 py-0" [disabled]="f.password.errors" (click)="openC(contentConfirmation)">{{'SETTING.Download-data.Download' | translate}}</button>
          </div>
        </div>
        <div class="card-body d-flex w-100">
          <div class="mt-4 row w-100 mx-0 d-flex flex-column">
              <p class="ms-4 mb-4">{{'SETTING.Download-data.Descriptions' | translate}}</p>
            <fieldset>
            <!--Email-->
            <div class="col-12 col-xs-12 col-md-12 col-lg-7 pe-5">
              <div class="form-group">
                <div class="w-100 d-flex justify-content-between px-2">
                <label for="exampleInputEmail1">{{'PROFILE.Email'|translate}}</label>
                <button class="popoverClass" placement="right" ngbPopover="{{'SETTING.Download-data.Email-by-default'|translate}}" triggers="mouseenter:mouseleave">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                </svg>
              </button>
              </div>
                <input type="email" class="inputMail w-100 ps-4 py-2" disabled formControlName="email" [placeholder]="p._meta.email">
              </div>
            </div>
            <!--Password-->
            <div class="col-12 col-xs-12 col-md-12 col-lg-7 pe-5">
              <div class="form-group">
                <label for="password">{{'PLACEHOLDER.Your-Password'|translate}}</label>
                <div class="inputIcon d-flex align-items-baseline mb-2">
                <input [type]="show ? 'text' : 'password'"  class="inputPswrd w-100 ps-4 py-2" formControlName="password" placeholder="{{'PLACEHOLDER.Enter-yr-password' | translate }}" required>
                <span (click)="show = !show" class="material-icons m-auto pe-2">{{show ? 'visibility' : 'visibility_off'}}</span>
              </div>
              </div>
              <div class="text-left error-message" *ngIf="f.password.value">
                <span *ngIf="f.password.errors" class="text-danger">{{'ERROR-MESSAGE.Please-type-yr-password'| translate}}</span>
              </div>
            </div>
          </fieldset>
          </div>
        </div>
      </form>
       <!-- Modal Confirmation-->
  <ng-template #contentConfirmation let-modal>
    <div class="backgroundModalM">
      <div class="modal-header d-flex align-items-baseline">
        <h4 class="modal-title" id="modal-basic-title">{{'SETTING.Download-data.Download' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p class="text-center mb-3">{{'SETTING.Download-data.Descriptions-modal' | translate}}</p>
      </div>
      <div class="col d-flex justify-content-center mb-3">
        <img class="checked mb-4" src="assets/img/Download-data.png" alt="Mail Sent">
      </div>
    </div>
  </ng-template>
</div>
