<!-- Search Bar-->
<div class="col-md-12 d-flex py-3 align-items-center justify-content-center">
  <div class="col-md-6 p-0 searchBar me-3">
    <input type="text" class="w-100" placeholder="Search friends/Create group chat">
  </div>
  <div class="col-md-1 p-0">
    <img class="add-someone pb-2" src="../../../assets/img/Star.svg" alt="Add-someone">
  </div>
</div>

<!-- Best & Second-->
<div class="col-md-12 d-flex justify-content-between px-4 py-3 closest">
  <p class="p-0 col-md-4">Best</p>
  <p class="p-0 col-md-4">Second</p>
  <p class="p-1 col-md-2">Request</p>
</div>

<!-- Expansion panel-->
<mat-accordion multi>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header class="pr-0" (click)="hideOrShowUser()">
      <mat-panel-title class="d-flex justify-content-between mr-0">
        <div class="d-flex align-items-center">
          <p class="p-0 me-2">Users</p>
          <span class="material-icons">
            {{panelProfile ? 'arrow_right' : 'arrow_drop_down'}}
          </span>
        </div>
        <div>
          <button type="submit" class="btn" [disabled]="nobodySelected">Ready</button>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

<!-- Filter of New Discussion -->
<div class="container p-0" *ngIf="(resultsProfile$ | async) && searchField.value !== ''">
  <div *ngFor="let p of resultsProfile$ | async" class="newDiscuss d-flex col-md-12 py-4 p-0">
    <div class="col-md-2 p-0 ml-1">
      <a class="px-0 container-avatar">
        <img class="avatar rounded-circle" [src]="p.pictureprofile">
      </a>
    </div>
    <div class="px-1 col-md-8 pt-1 newDiscussFriend">
      <p class="mb-2">{{p._meta.pseudo}}</p>
      <p class="last-msg">Start a new discussions</p>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="round">
        <input type="checkbox" id="checkbox" (click)="selectThisFriend()" />
        <label for="checkbox"></label>
      </div>
    </div>
  </div>
</div>

<!-- List of New Discussions -->
<div class="container p-0" *ngIf="(profiles$|async) && searchField.value !== ''">
    <div *ngFor="let item of profiles$ | async" class="newDiscuss d-flex col-md-12 py-4 p-0">
      <div class="col-md-2 p-0 ms-1">
        <a class="px-0 container-avatar">
          <img class="avatar rounded-circle" [src]="item.pictureprofile">
        </a>
      </div>
      <div class="px-1 col-md-8 pt-1 newDiscussFriend">
        <p class="mb-2">{{item._meta.pseudo}}</p>
        <p class="last-msg">Start a new discussions</p>
      </div>
      <div class="col-md-2 d-flex align-items-center">
        <div class="round">
          <input type="checkbox" id="checkbox" (click)="selectThisFriend()" />
          <label for="checkbox"></label>
        </div>
      </div>
    </div>
</div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       hideToggle>
    <mat-expansion-panel-header (click)="hideOrShowDiscuss()">
      <mat-panel-title>
        <p class="p-0 me-2">Discussions</p>
        <span class="material-icons">
          {{panelDiscuss ? 'arrow_right' : 'arrow_drop_down'}}
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

<!-- Search List of Discussion Already exist -->
<div class="container" *ngIf="(resultsProfile$ | async) && searchField.value !== ''">
  <div class="row">
    <div *ngFor="let p of resultsProfile$ | async" class="col-md-3 mx-auto">
      <a class="row px-0 container-avatar" (click)="getRoom(p)">
        <img class="mx-auto avatar my-2 rounded-circle" [src]="p.pictureprofile">
      </a>
    </div>
  </div>
</div>

<!-- Filter of Discussion Already exist -->
<div class="list-user" *ngIf="(room$| async); let room">
  <div *ngFor="let r of room; let i = index" class="mini-conversation row py-4 mx-0"
    [ngClass]="{'highlight': (roomSelected$ | async)?._id === r._id}" (click)="selectRoom(i, r._id)">
    <!--Col for Avatar-->
    <div class="col-md-2 p-0">
      <div [ngSwitch]="r.participants.length" class="w-100 h-100 d-flex justify-content-center">
        <div class="container-avatar" *ngSwitchCase="1">
          <img class="img-responsive d-flex mx-auto rounded-circle"
            [src]="r.participants[0].pictureprofile">
        </div>
        <div class="container-divided-picture rounded-circle d-flex mx-auto" *ngSwitchCase="2">
          <img class="w-50 h-100 m-auto avatar my-2 left-picture"
            [src]="r.participants[0].pictureprofile">
          <img class="w-50 h-100 m-auto avatar my-2 right-picture"
            [src]="r.participants[1].pictureprofile">
        </div>
      </div>
    </div>
    <!--Col for Notification-->
    <div class="col-md-1 mt-4 px-0 d-flex justify-content-end pr-3">
      <div class="badge-notif mx-auto" *ngIf="r.roomOption.participants[0].notification > 0">
      </div>
    </div>
    <!--Col for Mini-Chat-->
    <div class="col-md-6 p-0">
      <div class="currentFriendName pt-1">
        <p class="mb-2" *ngIf="r.participants.length == 1">{{r.participants[0]._meta.pseudo}}</p>
        <p *ngIf="r.participants.length == 2">{{r.participants[0]._meta.pseudo}}, {{r.participants[1]._meta.pseudo}}</p>
        <p *ngIf="r.participants.length > 2">{{r.participants[0]._meta.pseudo}}, {{r.participants[1]._meta.pseudo}}...
        </p>
        <p class="last-msg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, laborum? A nostrum pariatur illum odit illo at velit reprehenderit dignissimos. Autem deleniti repellat repellendus cumque maxime est quam earum tempora.</p>
      </div>
    </div>
    <div class="col-md-3 pt-1 px-0 d-flex justify-content-end pe-3" *ngIf="r.roomOption.participants[0].notification == 0">
      <div class="date">
        <p>{{translateService.getDateTranslated(r.updatedAt)}}</p>
      </div>
    </div>
    <div class="col-md-3 mt-4 px-0 d-flex justify-content-end pe-3" *ngIf="r.roomOption.participants[0].notification > 0">
      <div class="badge-notif mx-auto">
        <div class="number-msg">
          <span>{{r.roomOption.participants[0].notification}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
  </mat-expansion-panel>
</mat-accordion>