<input hidden #mainRoomID [value]="(room$ | async)?._id" />

<div class="container-dialog w-100 h-100" *ngIf="(room$ | async) let r">
  <div class="row header-conversation">
    <div class="col-md-8 row mx-0 my-auto" [ngSwitch]="r.participants.length">
      <div *ngSwitchCase="1" class="container-avatar col-md-2 text-center ps-4 pr-0">
        <img class="img-responsive rounded-circle" [src]="r.participants[0].pictureprofile">
      </div>
      <div *ngSwitchCase="2" class="col-md-2 row mx-0">
        <div class="container-divided-picture rounded-circle mx-auto">
          <img class="w-50 h-100 m-auto avatar my-2 left-picture" [src]="r.participants[0].pictureprofile">
          <img class="w-50 h-100 m-auto avatar my-2 right-picture" [src]="r.participants[1].pictureprofile">
        </div>
      </div>
      <div class="col-md-10 my-auto px-0" [ngSwitch]="true">
        <div *ngSwitchCase="r.participants.length == 1">
          <p class="mb-0">{{r.participants[0]._meta.pseudo}}</p>
        </div>
        <div *ngSwitchCase="r.participants.length == 2">
          <p class="mb-0">{{r.participants[0]._meta.pseudo}} et {{r.participants[1]._meta.pseudo}} </p>
        </div>
        <div *ngSwitchCase="r.participants.length > 2">
          <p class="mb-0">{{r.participants[0]._meta.pseudo}}, {{r.participants[1]._meta.pseudo}}... </p>
        </div>
      </div>
    </div>
    <div *ngIf="((room$ | async)?._id != null) && !search" class="col-md-4 row mx-0 my-auto" ngbDropdown>
      <div class="ms-auto me-5 container-btn-header">
        <i *ngIf="(room$|async)?.roomOption.participants[0].mute === true" class="mx-2 fa fa-bell-slash"
          (click)="unMuteRoom()"></i>
          <div ngbDropdownToggle class="icon-Setting">
            <img class="bi-three-dots" src="../../../assets/img/Dot-Setting.svg" alt="Setting">
        </div>
      </div>
      <div ngbDropdownMenu aria-labelledby="settingRoom" class="dropdownSetting">
        <button *ngIf="(room$|async)?.roomOption.participants[0].mute === false" ngbDropdownItem (click)="muteRoom()">
          <div class="row">
            <div class="col-md-2"><i class="fa fa-bell-slash"></i></div>
            <div class="col-md-10"><span>{{'CHAT.Mute'| translate}}</span></div>
          </div>
        </button>
        <button *ngIf="(room$|async)?.roomOption.participants[0].mute === true" ngbDropdownItem class="row mx-0"
          (click)="unMuteRoom()">
          <div class="row">
            <div class="col-md-2"><i class="fa fa-bell"></i></div>
            <div class="col-md-10"><span>{{'CHAT.Enable-notification'| translate}}</span></div>
          </div>
        </button>
        <button ngbDropdownItem class="row mx-0" (click)="changeMode('deleteRoom')">
          <div class="row">
            <div class="col-md-2"><i class="fa fa-trash"></i></div>
            <div class="col-md-10"><span>{{'CORE.Delete'|translate}}</span></div>
          </div>
        </button>
        <button ngbDropdownItem class="row mx-0" (click)="toogleSearch()">
          <div class="row">
            <div class="col-md-2"><i class="fa fa-users"></i></div>
            <div class="col-md-10"><span>{{'CORE.Add-someone'|translate}}</span></div>
          </div>
        </button>
        <button ngbDropdownItem class="row mx-0" (click)="supportMessage()">
          <div class="row">
            <div class="col-md-2"><i class="fa fa-minus-circle"></i></div>
            <div class="col-md-10"><span>{{'CORE.Block'|translate}}</span></div>
          </div>
        </button>
      </div>
    </div>
    <div *ngIf="search" class="col-md-4 row mx-0 my-auto container-search">
      <div class="col-md-9 my-auto pr-0">
        <input [matAutocomplete]="auto" matInput class="w-100 py-1 ps-3 pe-2" type="text"
         [placeholder]="'CORE.Search'|translate" [formControl]="searchField">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let p of (resultsProfile$ | async)" class="suggest-friend" (click)="addParticipant(p)">
            <div class="row mx-0 my-2">
              <div class="col-md-3 container-img-suggest">
                <img class="rounded-circle shadow" [src]="p.pictureprofile">
              </div>
              <div class="col-md-9 container-pseudo-suggest">
                <span>
                  <p class="mb-0">{{p._meta.pseudo}}</p>
                </span>
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-md-3 my-auto pr-0 ps-2">
        <button class="btn btn-outline-primary shadow" (click)="toogleSearch()">{{'CORE.Cancel'|translate}}</button>
      </div>
    </div>
  </div>
  <div #contentMain class="trend-conversation container pt-2" infiniteScroll [infiniteScrollUpDistance]="1"
    [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolledUp)="onScrollUp()" [ngSwitch]="mode">
    <div class="row mx-0 h-100" *ngSwitchCase="'deleteRoom'">
      <div class="container-adv m-auto">
        <div class="title text-center">
          <span>{{'CONFIRMATION.Delete-Room'|translate}}</span>
        </div>
        <div class="container-btn row my-3">
          <div class="mx-auto">
            <button class="btn btn-outline-primary slideup mx-2 shadow" (click)="deleteRoom(r._id)">{{'CORE.Delete'|translate}}</button>
            <button class="btn btn-light slidebottomright mx-2 shadow" (click)="changeMode('default')">{{'CORE.Cancel'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 h-100 container-bubble-message" *ngSwitchDefault>
      <div class="w-100 mx-auto px-auto col-6 container my-3">
        <div class="row d-flex justify-content-center container-message-deletion">
          <span class="p-4 d-flex align-items-center">{{'CHAT.days-message-delete-two-weeks'|translate}} <i class="bi bi-clock-history mx-3"></i></span>
        </div>
      </div>
      <div *ngIf="participantAdded.length !== 0" class="container-participated w-100">
        <div class="row">
          <div class="card col-md-6 mx-auto shadow mb-0">
            <div class="card-header">
              <div *ngFor="let p of participantAdded" class="tag-btn shadow m-2">
                <div class="tag row mx-0">
                  <div class="container-img-tag">
                    <img [src]="p.pictureprofile" class="w-100 h-100 rounded-circle">
                    <i class="fa fa-times" (click)="deleteParticipant(p._id)"></i>
                  </div>
                  <span class="mx-3 my-auto">{{p._meta.pseudo}}</span>
                </div>
              </div>
            </div>
            <div class="card-footer row mx-0">
              <button class="btn btn-outline-primary slideup mx-auto shadow" (click)="checkGroup()">
                {{'CHAT.Creat-group'|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div #messagesMain class="spacing-scrolling"
        *ngFor="let m of r.message; let last = last; let i = index; let first = first">
        <div class="w-100 h-100" [ngSwitch]="true">
          <div class="row my-2 message message-received" *ngSwitchCase="m.owner !== (myprofile$|async)?._id">
            <figure class="col-md-1 d-flex justify-content-center mb-0 px-0">
              <div class="avatar" *ngIf="(last == true) || (r.message[i+1].owner !== m.owner)">
                <img [src]="getAvatarChat(r.participants, m.owner)" class="rounded-circle shadow">
              </div>
            </figure>
            <span class="col-md-7 me-auto content-text pl-0 messageOfUser" [ngClass]="{
             'pt-0': first == false && r.message[i-1].owner == m.owner,
             'mb-0': last == true
              }">
              <p class="px-3 py-1" [ngClass]="{'mb-0': last == false && r.message[i+1].owner == m.owner}">{{m.text}}</p>
            </span>
          </div>
          <div class="row my-1 message message-sended" *ngSwitchDefault>
            <span class="col-md-9 ms-auto row content-text">
              <div ngbDropdown class="col-md-2 row mx-0 btn-delete-message">
                <button ngbDropdownToggle class="m-auto rounded-circle">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="deleteMessage(r._id, m._id)">{{'CORE.Delete'| translate}}</a>
                </div>
              </div>
              <div class="col-md-10">
                <p class="px-3 py-1 mb-0">{{m.text}}</p>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-input">
    <div class="row col message-box mx-0 p-4">
      <div class="col-md-12 d-flex align-items-center message-writte p-0">
        <div class="col-md-1 pr-0">
          <svg disabled xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
            <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </div>
        <div class="col-md-8 pl-0 d-flex align-items-center textArea">
          <mat-form-field floatLabel="never">
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4" [(ngModel)]="text" (keyup.enter)="send(mainRoomID.value)" (keydown.enter)="false" type="text"
            class="form-control message-input col-md-12 my-auto" [placeholder]="'PLACEHOLDER.Your-message'|translate"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-3 px-0 d-flex justify-content-between align-items-center pe-1">
          <div class="col-4 pr-0">
            <svg disabled xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="mx-2 bi bi-person-plus" viewBox="0 0 16 16">
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <svg disabled xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
              <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
            </svg>
          </div>
          <div class="col-8 pr-0">
            <button type="submit" (click)="send(mainRoomID.value);animationSendMessage()" class="sendMessage d-flex justify-content-around align-items-center w-100">
              <svg xmlns="http://www.w3.org/2000/svg" [@sendMessage]="position" width="20" height="20" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
              </svg>
              <p class="m-0" [@sendMessage]="showSubmit">{{'CHAT.Send'|translate}}</p>
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-no-dialog row w-100 h-100 mx-0" *ngIf="!(room$ | async)">
  <div class="m-auto">
    <!-- <span>No room is selected</span> -->
  </div>
</div>
