@import 'src/assets/scss/form.scss';
@import 'src/app/profile/my-profile-body/my-profile-body.component.scss';


/* Panel */

::ng-deep .main-info {
  .mat-datepicker-toggle {
    position: absolute;
    bottom: -10px;
  }
}

.date-form {
  overflow: hidden;
}

/* Main */

.main-content {
  padding: 0 30px 30px;
  min-height: calc(100vh - 123px);
  margin-top: -30px;
}

.card {
  border: 0;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  overflow: hidden;
}

.card .card-header {
  padding: 15px 15px 0;
  border: 0;
}

.card .card-body {
  padding: 15px 15px 10px 15px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.title {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Form */ 
.pseudo {
  color: #777;
}

.inputPseudo:disabled,
.inputMail:disabled {
  border-radius: 30px;
  background-color: #f4f4f4;
  border: none;
}

.inputPswrd {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  background: transparent;
}

.material-icons {
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: transparent;
  color: #32325d;
}

.bi-question-circle-fill {
  color: #32325d;
}


.inputPseudo,
.inputMail,
.inputIcon {
  border-radius: 30px;
  background: #e8f0fe;
  border: none;
}

.popoverClass {
  border: none;
  background: none;
}

.forgotPswrd {
  color: #a792ee;
  cursor: pointer;
  font-size: 0.8571em
}

.bi-check-circle-fill {
  color: greenyellow;
  animation: check 0.6s linear infinite;
}

@keyframes check {
  0% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.00);
  }
  100% {
    transform: scale(1.15);
  }
}

.btn-neutral {
  background-color: #FFFFFF;
  color: #32325d;
}
.btn-neutral:disabled {
  background: linear-gradient(145deg, #979797, #808080, #616161);
  color: white;
}

.error-message {
  font-size: 0.8rem;
  position: relative;
  top: -16px;
}

.input-invalid {
  border: 1px solid red !important
}

.backgroundPanel {
  background: url(./../../../assets/img/bgPicture.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right -10% bottom 111%;
}

/* Modal for Pseudo */

.backgroundModal {
  background: linear-gradient(145deg, #00a9ce, #167dce, #3e56d4);
  color: white;
  border-radius: 15px;
}

.pseudoModal {
  text-decoration: underline;
  font-size: 18px;
}

.btnTrutMe {
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  color: #a792ee;
}

.checked {
  width: 15rem;
}

h4.modal-title {
  font-weight: 500;
}

.titlePasswordIn {
  display: none;
}

/* Card user */

.card-user .card-body {
  min-height: 130px;
  z-index: 1;
}

.card .card-body {
  padding: 15px 15px 10px 15px;
}

.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -77px;
}

.card-user .avatar {
  width: 124px;
  height: 124px;
  border: 1px solid #FFFFFF;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card .image {
  overflow: hidden;
  position: relative;
}

a {
  color: #f96332;
}

.description {
  font-size: 1.14em;
  color: #9A9A9A;
  font-weight: 300;
}

.card label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color: #9A9A9A;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.card-user hr {
  margin: 5px 15px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-user .button-container {
  margin-bottom: 6px;
  text-align: center;
}


.btn-footer {
  button {
    border-radius: 15px;
    font-size: 1.2rem;
    border: 0;
  }
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.blockList,
.closeFriend {
  padding-left: 2.4rem;
  padding-right: 4rem;
}

.panelForm {
  border-radius: 0;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 0%), 0px 2px 2px 0px rgb(0 0 0 / 0%), 0px 1px 5px 0px rgb(0 0 0 / 13%) !important;
}

.containerPicture {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
img.pictureExemple {
  border-radius: 50%;
}

.profileHover:hover {
  background: rgba(0,0,0,.04);
  border-radius: 25px;
}



